<!DOCTYPE html>
<%- include('../partials/head') %>
<body id="body">
    <header>
        <h2>Admin Dashboard</h2>
        <h5>Hello! <%= firstName %> </h5>
    </header>
    <main>
        <nav class="side-bar">
            <ul>
                <li><a href="#"><i class="fa fa-user"></i>Users</a></li>
                <li><a href="#"><i class="fa fa-book"></i>Books</a></li>
                <li><a href="/api/admins/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
        </nav>
        <section>
            <div class="lib-headers">
                <h3>Librarians</h3>
                <div><a href="#">Add Librarian</a></div>
            </div>
            <div class="table-wrapper">
                <table class="dashboard-table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Mobile</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% librarians.forEach(lib => { %>
                            <tr>
                                <td><%= lib.firstName %></td>
                                <td><%= lib.lastName %></td>
                                <td><%= lib.phone %></td>
                                <td>
                                    <form 
                                        action="/api/librarians/<%= lib._id %>" 
                                        method="POST"
                                        onsubmit="return confirm('Delete this librarian?');"
                                    >
                                        <button class="delete-btn" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
        
    <!-- <%- include('../partials/foot') %> -->
    <script id="toast-data" type="application/json">
    <%- JSON.stringify({
        success: success || []
    }) %>
    </script>
    <script src="/javascript/toast.js"></script>
</body>
</html>